django-unicorn
django
django-tailwind
django-browser-reload
dj-database-url
psycopg
psycopg2-binary
gunicorn
django-environ
whitenoise
google-cloud-storage
google-api-python-client
django-storages
beautifulsoup4
openai
google-generativeai
